<section class="background full-screen">
    <div class="container">
        <section class='banner'>
            <div>
                <img src="./assets/img/SmellyCatLogo.svg" alt="logo_image" class="logo" />
            </div>
        </section>

        <section>
            <div class='about-container margin-b-3'>
                <p> This social network is for cat lovers, who wants to share the funny things they do.
                    You can adopt kittens right there.
                    <i class="fas fa-paw" id='icon-paw'></i>
                </P>
            </div>
        </section>
        <div class="Start-btn margin-t-3">
            <a href='#/Login'><button class="start-button" type="Start">Login </button></a>
            <a href='#/Register'><button class="start-button" type="Start">Sign up</button></a>
        </div>

    </div>
</section>