<section class='background full-screen padding'>
   <div class='container'>
      <h3>Requirements:</h3>
      <article class='container-info'>
         <div class='terms margin-t-3'>
            <h4> If you decide that you want in your life the company of a cat, you must be aware of the
               commitment that this implies, any problem is not an excuse to abandon it. Life is full of changes and in the
               15 or more years that they live,there will be countless situations that you will have to deal with responsibly. </h4>
   
            <h4>If you choose to adopt a cat, you should welcome it as another member of your household. This means that,
               whatever happens, it will always be taken into account in the decisions of the family, because it is not an
               object or a toy.</h4>
            <h4>On the other hand, cats could suffer from obesity and depression. The ideal is to have two
               cats,think then if you can later care for and support their "little brother" or "little sister" as well.</h4>
            <div> <img src='/assets/img/adopt-aKitty.PNG' alt='try-pic' class='adopt-pic'></div>
            <h4>Today, is a good day to adopt a cat</h4>


         </div>
      </article>
      <div class="Start-btn">
         <a href='https://kittenrescue.org/adopt/cat-adoption-form/'><button class="start-button" type="Start">Fill form</button></a>

      </div>

   </div>
</section>