<section class='background full-screen padding'>
   <div class='container'>
      <h3>Requirements:</h3>
      <article class='container-info'>
         <p> If you decide that you want in your life the company of a cat, a cat or a couple, you must be aware of the
            commitment that this implies, any problem is an excuse to abandon it, just as there is
            no excuse to abandon any other member of the family.</p>
         <p>Life is full of changes and in the 15 or more years that they live, on average,there will be countless
            situations that you will have to deal with responsibly.</p>
         <p>If you choose to adopt a cat, you should welcome it as another member of your household. This means that,
            whatever happens, it will always be taken into account in the decisions of the family, because it is not an
            object or a toy.</p>
         <p>On the other hand,he thinks that a cat can only suffer from obesity and depression. The ideal is to have two
            cats,think then if you can later care for and support your "little brother" or "little sister" as well.</p>
      </article>
      <div class="Start-btn">
         <a href='#/'><button class="start-button" type="Start">Fill form</button></a>

     </div>

   </div>
</section>