<section class='background full-screen'>
    <div class='container container-posts'>
        <form class='create-post margin-t-3 margin-b-3' id='create-post'>
            <div class="close-button">
                <a href="#/Posts"><i class="far fa-times-circle"></i></a> </div>

            <div class='title'>
                <h4>Create a post</h4>
                <h1 class='divider-posts'></h1>
            </div>
            <div class='profile'>
                <img src="/src/assets/img/profile-pic-example.png" alt="profile_image" class="profPic" />
                <h5> User name</h5>
            </div>
            <textarea class='t-s-a-styles ' id='text-area' placeholder="Share the cuteness!" name='text-area'></textarea>
            <div class='margin-b-3'>
                <input class="file-input" type="file" id="imageInput" name="imageInput" placeholder="Img"
                    accept="image/*">
                <label for="imageInput">choose a file</label>
            </div>
            <div class="Login style">
                <button class="posts-button" type="submit">Post a Kitty</button>
            </div>
        </form>
    </div>
</section>