<div class="container">
    <section class='banner'>
        <div>
            <img src="/assets/img/SmellyCatLogo.png" alt="logo_image" class="logo" />
        </div>
    </section>

    <section>
        <div class='about-container'>
            <p> This social network is for cat lovers, who wants to share the funny things they do.</P>
        </div>
    </section>
</div>
<div class="Start-btn">
    <a href='#/Login'><button class="button" type="Start">Start <i class="fas fa-paw" id='paw-icon' ></i></button></a>   
</div>