<section class="background full-screen">
    <div class='main-container'>
        <div class='left-container'>
            <img src="/assets/img/SmellyCatLogo.svg" alt="logo_image" class="logo" />
        </div>
         <div class='right-container'>
            <div class='Login-section margin-t-3'>
                <h1>Welcome back!</h1>
                <h5>You can login here</h5>
                <form id="login-form">
                    <div class='login-inputs'>
                        <input type="email" class="input" id="email" name='email' placeholder="Email@example.com">
                        <input type="password" class="input" id="password" name='password' placeholder="Password">
                    </div>
                    <div class="Login style">
                        <button class="button" type="submit">Login</button>
                    </div>
                </form>
    
                <div class='option'>
                    <h3 class="divider">or </h3>
                </div>
                <div class="login-inputs">
                    <button class="google-button" id="google-button"><i class="fab fa-google-plus-g" id='icon'></i></button>
                    <span><a href="#/Recover">
                            <h6>Forgot password?</h6>
                        </a></span>
                </div>
            </div>
        </div>



    </div>
   

</section>