

<section>
<div class='Login-section'>
    <h1>You can login here</h1>
    <div class='login-inputs'>
        <input type="email" class="input" id="email" name='email' placeholder="Email@example.com">
        <input type="password" class="input" id="password" name='password'  placeholder="Password">
    </div>

    <div class="Login">
        <a href=''><button class="Login-btn" type="Login">Login</button></a>   
    </div>

    <div class='option'>
        <h3>or </h3>
    </div>


    




</div>



</section>