<!--NAVIGATION-->
<header>
    <div class='main-nav'>
        <div class="Icon-menu" id="main-menu-button">
            <i class="fas fa-bars"> </i>
        </div>
        <nav class='site-nav'>
            <ul class='main-menu'>
                <li><a href="#/">Home</a> </li>
                <li><a href="#/Posts">Posts</a></li>
                <li><a href="#/Adoption">Adopt me</a></li>
                <li><a href="#"id='Logout'><i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
        </nav>  
    </div>
</header>
