<section class='background full-screen'>
    <div class='container container-posts'>
        <div class='create-post margin-t-3 margin-b-3'>
            <div class='profile'>
                <img src="/src/assets/img/profile-pic-example.png" alt="profile_image" class="profPic" />
                <h5> User name</h5>
            </div>
            <h1 class='divider-posts'></h1>
            <div class='post-img'>
                <h6>You can do everything you want</h6>
                <img src='/src/assets/img/posts-pic' alt='try-pic' class='try-pic'>
            </div>
            <h1 class='divider-posts'></h1>
            <div class='interaction-section'>
                <i class="fas fa-thumbs-up"><span>Like</span></i>
                <i class="fas fa-comments"><span>Comment</span></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <div class='shareYourKitten'>
            <a href='#/createPost'><i class="fas fa-pencil-alt edit-icon"></i></a>
        </div>
    </div>
</section>