<section class="background full-screen">
    <div class='container'>
        <div class='Login-section margin-t-3'>
            <h3>if you forgot your password, you can recover it here </h3>
            <div class='login-inputs'>
                <input type="email" class="input" id="email" name='email' placeholder="Email@example.com">
            </div>
            <div class="Login style">
                <a href=''><button class="button" type="Login">Send email</button></a>
            </div>
        </div>
    </div>
</section>