<section class="background full-screen">
    <div class='container'>
        <div class='Login-section margin-t-3'>
            <h3>If you don't have an account, you can register here</h3>
            <form id="signup-form">
                <div class='login-inputs'>
                    <input type="text" class="input" id="name" name='name' placeholder="Name">
                    <input type="text" class="input" id="lastname" name='lastname' placeholder="Lastname">
                    <input type="email" class="input" id="email" name='email' placeholder="Email@example.com">
                    <input type="password" class="input" id="password" name='password' placeholder="Password">
                </div>
                <div class="register style">
                    <a href=''><button class="button" type="submit">Sign up</button></a>
                </div>
            </form>

            <div class='option'>
                <h3 class="divider">or </h3>
            </div>
            <div class="login-inputs">
                <a href=''><button class="google-button" type="Login"><i class="fab fa-google-plus-g"
                            id='icon'></i><span></span></button></a>
                </button></a>
            </div>
        </div>


    </div>

</section>