
.logo {
  display: block;
  margin: auto;
  width: 25rem;
  padding: 3rem;
}

.about-container {
  margin: auto;
  text-align: center;
  padding: 30px;
  background: #fac8cd;
  font-size: 1rem;
  border-radius: 1rem;
  text-align: center;
  
}