
.Login-section{
    justify-content: center;
    max-width: 20rem;
    margin: 0 auto;

}
.login-inputs{
display:flex;
flex-direction: column;
}
.input{
    border-radius: 0 5px 5px 0;
    padding: 0.3rem;
    border:2px solid $primary-color;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
}
.button{
    background: $primary-color;
    border-radius: 0.5rem;
    color:$secondary-color;
    font-size: 1rem;
    height: 2.2rem;
    width: 5rem;
    border:none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-inputs li a {
    text-decoration: none;
}
/*Recover password styles*/